*{
    margin: 0;
}
.main{
    height: 100vh;
    width: 100vw;
    background: url(https://wallpapers.com/images/featured/math-zarpq292tmb3whun.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
}
.calc{
    height: 450px;
    width: 338px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 5px 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 20px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    align-content: flex-end;
    padding: 20px;
    
    /* border-radius: 20px; */
}
.screen{
    height: 100px;
    width: 100%;
    background-color:transparent;
    /* border: none;
    outline: none; */
    text-align: right;
    margin-bottom: 10px;
    font-size: 40px;
}

.btn{
    margin-top: 10px;
    --😀: rgba( 255, 255, 255, 0.25 );;
    --😀😀: #1d1b31;
    --😀😀😀: rgba(22, 20, 20, 0.18);
    cursor: pointer;
    width: 80px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 1.125em;
    font-weight: 600;
    letter-spacing: 2px;
    color: black;
    background: var(--😀);
    border: 2px solid var(--😀😀);
    border-radius: .75rem;
    box-shadow: 0 8px 0 var(--😀😀);
    transform: skew(-10deg);
    transition: all .1s ease;
    filter: drop-shadow(0 15px 20px var(--😀😀😀));
  }
  
  .btn:active {
    letter-spacing: 0px;
    transform: skew(-10deg) translateY(8px);
    box-shadow: 0 0 0 var(--😀😀😀);
  }